<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Early Detection of Chronic Kidney Disease using Machine Learning</title>
<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
    <section class="header">
        
        <nav>
            <a href="index.html"><img src="images/images.png"></a>
            <div class="nav-links" id="navLinks">  
                <i class="fa fa-close" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="prediction.html">PREDICTION</a></li>
                    <li><a href="result.html">RESULT</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        
        <div class="text-box">
            <h1>An Early Detection Can Save Many Lives</h1>
            <p>Early Detection of Chronic Kidney Disease using Machine earning</p>
            <a href="contact.html" class="hero-btn">Visit Us to Know More</a>
        </div>
    </section>
    

    

<!---------- Symptoms ---------->
    
    <section class="facility">
        <h1>Symptoms</h1>
        <p>Generally symptoms are not shown explicitly. Some of them are,</p>
            <div class="row">
                <div class="facility-col">
                    <img src="images/bp.png">
                    <h3>High BP and Chest pain</h3>
                    <p>High blood pressure is the major symptom of kidney disease</p>
                </div>
                <div class="facility-col">
                    <img src="images/swe.png">
                    <h3>Swelling of legs and ankels</h3>
                    <p>Swelling of legs occurs because of Diabetes mellitus</p>
                </div>
                <div class="facility-col">
                    <img src="images/creatinine.png">
                    <h3>Urinating more or less</h3>
                    <p>The presence of creatinine in blood sample indicates the CKD</p>
                </div>
            </div>
    </section>
    
    
<!---------- causes ----------->
    
    <section class="course">
        <h1>Causes of Chronic Kidney Disease</h1>
        <p></p>
        <div class="row">
            <div class="course-col">
                <h3>Type 1 or type 2 diabetes</h3>
                <p>Diabetes is the leading cause of kidney failure</p>
            </div>
            <div class="course-col">
                <h3>Glomerulonephritis</h3>
                <p>An inflammation of the kidney's filtering units</p>
            </div>
            <div class="course-col">
                <h3>Vesicoureteral</h3>
                <p>A condition that causes urine to back up into your kidneys</p>
            </div>
        </div>
    </section>
    
  
 
<!-------- footer ---------->

<section class="footer">
        <h4>About Us</h4>
        <p>To care your health with less time and effort spent and to detect the chronic kidney disease at earlier stage, use our website and get benefited.</p>
        
        <a href="https://www.sk2bt.com" class="footer-link"><p>Made with <i class="fa fa-heart-o"></i> by PNT2022TMID38667</p></a>
</section>    
  
  
<!----JavaScript for toggle menu---->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script> 
    
</body>
</html>







